################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CropSize/obj/Debug
/.vs/CropSize/v16
